<h1>ng if</h1>

<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p *ngIf="person.name==='Juan'; else myBlock">Mi nombre es Juan</p>
<ng-template #myBlock>
<p>Bloque else</p>
</ng-template>


<hr>
<h1>NG Model</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">

<p>valid: {{nameInput.valid}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>valid: {{ageInput.valid}}</p>
<h1>Propiedades</h1>
<button [disabled]="btnDisable">
  Enviar
</button>
<button (click)="toggleButton()">Toggle btn</button>
<button (click)="increaseAge()">add age</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eius et ipsam magnam minima natus
    necessitatibus nobis sed soluta voluptas. Deleniti deserunt dolor doloremque fuga incidunt provident suscipit
    tempora voluptatem?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium consectetur corporis cumque eum, excepturi
    facere fugiat hic iusto laudantium nemo nisi pariatur possimus provident quos reiciendis saepe, ut vitae!
  </p>
</div>
<p>{{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" alt="">
<p>{{person.age}}</p>
<hr>
<h1>Hola mundo</h1>
<h2>{{'Hola Mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}} </p>

<h3>Hola soy {{name}}</h3>
<h4>Mi edad es {{age}}</h4>
<img src="{{img}}" alt="">

